<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <h1>Movies</h1>
    <div class="btn1">
    <button onclick="document.location='/genreregister'">Add Genres</button>
    <button onclick="document.location='/actorregister'">Add Actors</button>
    <button onclick="document.location='/technicianregister'">Add Technicians</button>
    <button onclick="document.location='/movieregister'">Add Movies</button>
    </div>
    <div class="btn2">
    <button onclick="document.location='/showgenres'">Show Genres</button>
    <button onclick="document.location='/showactors'">Show Actors</button>
    <button onclick="document.location='/showtechnicians'">Show Technicians</button>
    <button onclick="document.location='/showmovies'">Show Movies</button>
    </div>
</body>
</html>